<%= render :partial => 'artists_menu' %>

<div id="menu_droite">
  <% @artist.galleries.each do |gallery| %>
    <%= image_tag(gallery.photos.first.image.url(:thumb) ) unless gallery.photos.blank? %>
  <% end %>
</div>

<div class="content">
<p>
  <%= "#{@artist.first_name} #{@artist.last_name}" %>
</p>

<p>
  <%=h @artist.email %>
</p>
<p>
  <%=h @artist.description %>
</p>

</div>

