<div class="form">
	<% form_for [:admin, @gallery, Photo.new], 
		:html => { :target => 'frame', :multipart => true } do |f| -%>

		<% unless @photo.errors.empty? %>
			<div class="form_errors">
				Il existe des erreurs dans le formulaire :
				<ul>
				<% @photo.errors.each do |attribut, message| %>
					<li><%= message -%></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<div class="form_entries">
			<p><%= f.label :image, 'Image :' %><%= f.file_field :image %></p>
		</div>
		
		<div class="form_buttons">
		  <p><%= button_to_function 'Annuler' do |page|
              page.visual_effect(:slide_up, 'photo_form')
				end %></p>
			<p><%= f.submit "Enregistrer" -%></p>
		</div>
	<% end %>
</div>