<h4 class="center"><%=h @gallery.title %></h4>
<div class="indent justify"><%=h @gallery.description %></div>
<div class="thumbs_gallery">
  <% @gallery.photos.each do |photo| %>
    <%= link_to(image_tag(photo.image.url(:mini), :class => 'thumb' ), photo.image.url) %>
  <% end %>
</div>
<script type="text/javascript">
  Shadowbox.setup(".thumbs_gallery a", { title: "<%= @gallery.title %>", gallery: "<%= @gallery.title %>" });
</script>