<%= render :partial => '/artists/artists_menu' %>

<div id="menu_droite_wrapper">
  <ul id="menu_droite">
    <%= render :partial => "galleries/list_item", :collection => @gallery.artist.galleries %>
  </ul>
</div>

<% content_for :sidebar do %>
  <div class="thumbs_gallery">
    <% @gallery.photos.each do |photo| %>
      <%= link_to_function(image_tag(photo.image.url(:mini), :id => "#{photo.id}", :class => 'thumb' ), "switchPhoto(#{photo.id})") %>
    <% end %>
  </div>
<% end %>

<div class="content_wrapper">
  <div class="content">
    <div id="artist">
      <div id="photo_wrapper">
        <%= image_tag "spinner.gif", :id => "spinner", :style => "display: none;" %>
        <div id="photo">
          <div id="photo_inner">
            <%= image_tag(@gallery.photos.first.image.url) unless @gallery.photos.empty? %>
          </div>
        </div>
      </div>
      <div class="indent justify"><%=h @gallery.description %></div>
    </div>
  </div>
</div>

<script type="text/javascript">


</script>

