!!! Strict
%html{html_attrs}
  %head
    %title Cross
    %meta{:http_equiv => "Content-type", :content => "text/html,charset=UTF-8"}
    = stylesheet_link_tag("public")
    = javascript_include_tag(:defaults)
  %body
    .header
      %div
        = link_to(image_tag('cross_header.jpg'), :controller => 'cross', :action => 'index')
      %ul#menu_haut
        %li
          = link_to "ARTISTES", artists_path, :class => "left_artist"
        %li.first_link
          = link_to "CROSS", :controller => 'cross', :action => 'index'
        %li
          = link_to "NEWS", posts_path
        %li
          = link_to "ARCHIVES", posts_path
        %li
          = link_to "CONTACTS", :controller => 'contacts', :action => 'index'
        %li.last_link
          = link_to "LIENS", "#"
    %div#menu_gauche_wrapper
      = yield :sidebar
    
    = yield
    
